.navbar {
    overflow: hidden;
    background-color: #fffefb;
    /* Soft cream background color */
    position: sticky;
    top: 0;
    z-index: 100;
    border-radius: 20px;
    /* Rounded corners */
    backdrop-filter: blur(10px);
    /* Blur effect */
    height: 60px;
    /* Adjust the height as desired */
    display: flex;
    /* Use flexbox */
    align-items: center;
    /* Vertically center align the content */
    margin: 10px;
    /* Add margin as desired */
    font-family: Helvetica, Arial, sans-serif;
    /* Set the font family to Helvetica */
}

.navbar a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 20px;
    /* Increased horizontal padding */
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    /* Transition effect for background color */
    margin: 0 10px;
    /* Add margin to create spacing between the links */
}

.navbar a:not(.logo):hover {
    background-color: #ddd;
    color: black;
}

.navbar .logo {
    float: left;
    margin-right: 10px;
    /* Add margin to the right of the logo */
}

.navbar .right-links {
    margin-left: auto;
    /* Push the links to the right */
}

.navbar .right-links a {
    display: inline-block;
    background-color: transparent;
    border-radius: 10px;
    /* Rounded corners */
    transition: background-color 0.3s ease;
    /* Transition effect for background color */
    padding: 10px 20px;
    /* Adjust padding as desired */
    height: 100%;
    /* Set the height to 100% */
    box-sizing: border-box;
    /* Include padding in the box sizing */
}

.navbar .right-links a.resume {
    background-color: #000000;
    /* Resume button color */
    color: rgb(255, 255, 255);
    transition: outline 0.1s ease;
    /* Add transition for the outline */
}

.navbar .right-links a.resume:hover {
    outline: 3px solid #d8d8d8;
    /* Add outline style */
    outline-offset: 1px;
    /* Offset the outline to prevent it from overlapping the background */
}

.navbar .right-links a.no-color:hover {
    background-color: #ededed;
}

footer {
    background-color: #fffcf7;
    padding: 20px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    text-align: left;
    border-radius: 20px; /* Rounded corners */
    margin-top: 20px; /* Add margin to separate from the content */
}

footer p {
    margin: 0; /* Remove default margin */
}

footer a {
    color: #333; /* Link color */
    text-decoration: none; /* Remove underline */
    margin-right: 10px; /* Add right margin for spacing */
}

footer a:hover {
    color: black; /* Change link color on hover */
}

footer .footer-divider {
    width: 100%; /* Take up the entire width */
    height: 1px; /* Thin divider height */
    background-color: #ccc; /* Light grey divider color */
    margin: 10px 0; /* Add vertical margin for spacing */
}

footer .footer-text {
    margin-top: 10px; /* Add top margin for spacing */
    font-size: 12px; /* Smaller font size for "All rights reserved" text */
    color: #777; /* Light grey text color */
}

footer .footer-heading {
    font-size: 20px; /* Bigger font size for the heading */
    font-weight: bold; /* Make the heading bold */
    margin-bottom: 10px; /* Add margin at the bottom of the heading */
}

footer .footer-link {
    display: inline-block; /* Change display to inline-block */
    margin-right: 10px; /* Add spacing between the links */
}

footer .footer-link::before {
    content: "\e5c8"; /* Unicode value for the symbol you want to display */
    font-family: "Material Symbols Rounded", sans-serif;
    font-variation-settings: 'FILL' 0, 'wght' 200, 'GRAD' 200, 'opsz' 24;
    font-size: 14px; /* Adjust the font size as needed */
    vertical-align: middle; /* Add vertical alignment */
    margin-right: 5px; /* Add spacing between the symbol and the link */
}

/* Custom grid styles */
container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-right: -20px;
}

.col-12 {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

/* Add additional classes for different column widths if needed */

@media screen and (max-width: 767px) {

    .navbar .logo {
        float: none;
        margin-right: 0;
    }
    
    .navbar .right-links {
        display: none;
    }
    
    .navbar .right-links.show {
        display: block;
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }
    
    .navbar .right-links a {
        display: block;
        width: 100%;
        margin: 10px 0;
        list-style: none;
    }

    .container,
    .row,
    .col-12 {
        padding-left: 10px;
        padding-right: 10px;
    }
}